<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LawertypeMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Lawertype" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, name
  </sql>


  <!--查询所有的律师分类-->
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from jw_lawertype

  </select>

  <resultMap id="so" type="lawertype">
    <id column="jltid" property="id" jdbcType="VARCHAR" />
    <result column="jltname" property="name" jdbcType="VARCHAR" />
    <collection property="lawers" javaType="list" ofType="lawer">
      <id column="lid" property="id" jdbcType="VARCHAR" />
      <result column="lname" property="name" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="year" property="year" jdbcType="VARCHAR" />
      <result column="number" property="number" jdbcType="VARCHAR" />
      <result column="workspace" property="workspace" jdbcType="VARCHAR" />
      <result column="description" property="description" jdbcType="VARCHAR" />
      <result column="wordprice" property="wordprice" jdbcType="DECIMAL" />
      <result column="phoneprice" property="phoneprice" jdbcType="DECIMAL" />
      <result column="photo" property="photo" jdbcType="VARCHAR" />
      <result column="lstatus" property="status" jdbcType="VARCHAR" />
      <result column="lphone" property="phone" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="selectOneById" parameterType="String" resultMap="so">
    select   jlt.id jltid,jlt.name jltname,
    l.id lid, l.name lname, address, year, number, workspace, description, wordprice, phoneprice, photo,
    l.status lstatus,
    l.phone lphone
    from jw_lawertype jlt
    left JOIN jw_type_lawer tl on jlt.id=tl.lawertypeid
    left JOIN  jw_lawer l on tl.lawerid=l.id
     where jlt.id=#{id}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jw_lawertype
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jw_lawertype
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="delete" parameterType="java.lang.String" >
    delete from jw_type_lawer
    where lawertypeid= #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.baizhi.entity.Lawertype" >
    insert into jw_lawertype (id, name)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>



  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Lawertype" >
    update jw_lawertype
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>